$primary: #190840;
$secondary: #6540f8;
$gray: #f2f4f8;

.container {
  border-radius: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 10rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 0 20px;
  width: 90%;
}

.card {
  &__title {
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: bold;
  }

  &__item {
    margin-top: 0.6rem;
    display: flex;
    justify-content: space-around;
    padding: 0.1rem;
    img {
      border-radius: 6px;
      height: 100px;
      object-fit: cover;
      margin-right: 1rem;
      width: 180px;
    }
    &-data {
      margin-right: 0.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      button {
        background: $primary;
        color: white;
        width: 90%;
        border-radius: 1rem;
        cursor: pointer;
      }
    }
    &-price {
      font-weight: 600;
    }
  }
}

@media (min-width: 600px) {
  .container {
  }
}
