$primary: #190840;
$secondary: #6540f8;
$gray: #f2f4f8;

.navbar {
  align-items: center;
  background: $secondary;
  bottom: 0;
  display: flex;
  height: 3rem;
  justify-content: space-around;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  position: fixed;
  margin-top: 1rem;
  width: 100%;
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
