<div class="header">
  <img id="logo" src="assets/logo-sm.png" alt="Omni cars Logo">
  <div class="search">
    <input id="search" type="text" placeholder="search brand ...">
    <img src="assets/glass.png" alt="Search Icon">
  </div>

</div>

<div class="hero"></div>
// Router Outlet
<app-cars-list></app-cars-list>
<div class="navbar">
  <img src="assets/home.png" alt="Home Clickable Icon">
  <img src="assets/cart.png" alt="Cart Clickable Icon">
  <img src="assets/person.png" alt="Account Clickable Icon">
</div>