<div *ngIf="car$ | async as car" class="container">
  <div class="detail__title">
    <img (click)="backHome()" id="arrow" src="assets/arrow-back.png" alt="Arrow icon clickable">
       <p>{{car.model}}- {{car.brand}} <br> {{car.year}} </p>
  </div>
  <div class="detail__img">
    <img id="img" [src]="car.photo" alt="Car">
  </div>
  <div class="detail__specifications">
    <div class="detail__specifications-col1">
      <div class="detail__specifications-row">
        <img src="assets/horsepower.png" alt="Horsepower Icon">
        <p>{{car.specifications.horsePower}}</p>
      </div>
      <div class="detail__specifications-row">
        <img src="assets/battery.png" alt="Battery Icon">
        <img src="assets/true.png" alt="True Icon">
      </div>
      <div class="detail__specifications-row">
        <img src="assets/cloud.png" alt="Cloud Icon">
        <img src="assets/false.png" alt="False Icon">
      </div>
      
    </div>
    <div class="detail__specifications-col1">
      <div class="detail__specifications-row">
        <img src="assets/lock.png" alt="Lock Icon">
        <p>{{car.specifications.airbags}}</p>
      </div>
      <div class="detail__specifications-row">
        <img src="assets/music.png" alt="Music Icon">
        <img src="assets/true.png" alt="True Icon">
      </div>
      <div class="detail__specifications-row">
        <img src="assets/box.png" alt="Box Icon">
        <p>{{car.specifications.dimensions}}</p>
      </div>
      

    </div>
  </div>
  <div class="detail__rent">
    <p class="detail__rent-price">$ {{car.price}} USD</p>
    <button>Rent</button>
  </div>

</div>
